<%- include ('partials/header.ejs') %>

<h1>You are about to delete session <%= gameSession.game_session_id %></h1>
	<form method="POST" action="/delete-game-session/<%= gameSession.game_session_id %>">
		<button type="submit" name="delete" value="Yes">Yes</button>
		<button type="submit" name="delete" value="No">No</button>
	</form>

<%- include ('partials/footer.ejs') %>
