<%- include ('partials/header.ejs') %>

<h1>You are about to delete session <%= gameSession.game_session_id %></h1>
	<form method="post" action="/delete-game-session/<%= gameSession.game_session_id %>">
		<button type="submit">Delete Game Session</button>
	</form>

<%- include ('partials/footer.ejs') %>
