<%- include('partials/header.ejs') %>

<button onclick="location.href='/add-game'">Add Game</button>
<button onclick="location.href='/add-game-session'">Add Game Session</button>

<div>
	<ul>
		<% for (var i = 0; i < games.length; i++) { %>
			<li><%= games[i].game_name %></li>
		<% } %>
	</ul>
	<ul>
		<% for (var i = 0; i < gameSessions.length; i++) { %>
			<li><%= gameSessions[i].game_session_start_date %></li>
		<% } %>
	</ul>
</div>


<%- include ('partials/footer.ejs') %>
